In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
place_titles = pd.read_csv('geoplaces2.csv')
place_titles.head()

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc�n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none

In [4]:
place_titles.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [6]:
dflatilongi=place_titles[['placeID','latitude','longitude']]

In [8]:
dflatilongi.head(5)

   placeID   latitude   longitude
0   134999  18.915421  -99.184871
1   132825  22.147392 -100.983092
2   135106  22.149709 -100.976093
3   132667  23.752697  -99.163359
4   132613  23.752903  -99.165076

In [9]:
len(dflatilongi)

130

In [20]:
dflatilongi['latitude'][0]

18.915421

In [11]:
from math import radians, cos, sin, asin, sqrt 
def distance(lat1, lat2, lon1, lon2): 
      
    # The math module contains a function named 
    # radians which converts from degrees to radians. 
    lon1 = radians(lon1) 
    lon2 = radians(lon2) 
    lat1 = radians(lat1) 
    lat2 = radians(lat2) 
       
    # Haversine formula  
    dlon = lon2 - lon1  
    dlat = lat2 - lat1 
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  
    c = 2 * asin(sqrt(a))  
     
    # Radius of earth in kilometers. Use 3956 for miles 
    r = 6371
       
    # calculate the result 
    return(c * r) 
      
      
# driver code  
lat1 = 53.32055555555556
lon1 = -1.7297222222222221

lat2 = 53.31861111111111
lon2 =  -1.6997222222222223
print(distance(lat1, lat2, lon1, lon2), "K.M")

2.0043678382716137 K.M

In [26]:
lat1 = 18.915421
lon1 = -99.184871
alldatasorting={}
for ik in range(len(dflatilongi)):
    lati22=dflatilongi['latitude'][ik]
    longi22=dflatilongi['longitude'][ik]
    opoflat=distance(lat1, lati22, lon1, longi22)
    locationid=dflatilongi['placeID'][ik]
    alldatasorting[locationid]=opoflat

In [ ]:
alldatasorting

In [29]:
import operator
sorted_d = sorted(alldatasorting.items(), key=operator.itemgetter(1))

In [35]:
nearby=10
for i in range(10):
    print(sorted_d[i])

(134999, 0.0)
(135011, 1.6992063887426225)
(135013, 2.003448527194078)
(134996, 3.435242762838963)
(134975, 4.279034647175281)
(132767, 4.36113609487526)
(135021, 4.44083352567643)
(134976, 4.445227046157834)
(134987, 4.659031200252339)
(132766, 4.944094772598868)

In [27]:
 for i in sorted (alldatasorting) : 
    print ((i, alldatasorting[i]), end =" ")

(132560, 537.8400748350763) (132561, 535.0371766480217) (132564, 535.4753243879176) (132572, 405.11914126858136) (132583, 5.258478631359763) (132584, 537.8474323374076) (132594, 537.8253533979682) (132608, 538.563628788975) (132609, 538.7260336120423) (132613, 537.907415739031) (132626, 536.224723768163) (132630, 537.9106596527153) (132654, 536.0014956545584) (132660, 537.9119437891364) (132663, 537.8630331592387) (132665, 536.1382556205472) (132667, 537.8851940064326) (132668, 536.2807203992348) (132706, 535.2972190943252) (132715, 535.6330144443558) (132717, 535.5754705861509) (132723, 407.1524204582953) (132732, 538.0669600629781) (132733, 537.886630304199) (132740, 537.8282119058737) (132754, 405.6160296647687) (132755, 407.5676621658904) (132766, 4.944094772598868) (132767, 4.36113609487526) (132768, 5.154387490377575) (132773, 5.717018077083892) (132825, 405.21955462241914) (132830, 403.4965094635171) (132834, 406.2298311046705) (132845, 399.23829435535754) (132846, 402.7860433699697) (132847, 402.7409311392626) (132851, 401.87059924865747) (132854, 402.1458426062917) (132856, 405.20583315757085) (132858, 401.44309934353697) (132861, 406.94629972168207) (132862, 405.7279043435663) (132866, 402.1466599737969) (132869, 401.80142043402583) (132870, 402.52676291625517) (132872, 408.3496618943478) (132875, 405.98121721844836) (132877, 401.7392186638432) (132884, 406.6312403382916) (132885, 407.2114093145186) (132921, 405.7967574467337) (132922, 405.5500834798027) (132925, 405.4917414466261) (132937, 405.3255277480303) (132951, 406.04652478954796) (132954, 406.73490380508997) (132955, 406.55732588691654) (132958, 406.0749094306121) (134975, 4.279034647175281) (134976, 4.445227046157834) (134983, 6.469905961819394) (134986, 5.93692778640488) (134987, 4.659031200252339) (134992, 6.985679636512853) (134996, 3.435242762838963) (134999, 0.0) (135000, 6.668128510071419) (135001, 6.682614859262016) (135011, 1.6992063887426225) (135013, 2.003448527194078) (135016, 5.762386619442534) (135018, 7.324016611783657) (135019, 5.230536054313965) (135021, 4.44083352567643) (135025, 405.18577033247584) (135026, 406.2224073579352) (135027, 404.782436475621) (135028, 405.34609290993427) (135030, 405.57478734350326) (135032, 405.2594920688123) (135033, 404.17289827440607) (135034, 406.4059671488297) (135035, 406.75836683837196) (135038, 405.77650082831394) (135039, 404.6772402537422) (135040, 403.4185140899224) (135041, 405.319448738256) (135042, 405.93315577822494) (135043, 407.17428455541057) (135044, 405.3694925830436) (135045, 405.5303653225677) (135046, 405.5800685686366) (135047, 406.08371813819343) (135048, 405.47194127785843) (135049, 406.22013091529186) (135050, 407.3409754072431) (135051, 405.3033356188576) (135052, 405.29983294771915) (135053, 409.75378203230224) (135054, 401.3535707122316) (135055, 406.5903835282803) (135057, 403.7441235804445) (135058, 407.88363410722104) (135059, 405.3060849911372) (135060, 405.9321647959857) (135062, 405.6454240148359) (135063, 405.7763285982407) (135064, 406.5882702393559) (135065, 406.2290652055371) (135066, 406.7743710787907) (135069, 402.6793137865687) (135070, 402.549009620251) (135071, 399.7204711682626) (135072, 406.354731400952) (135073, 404.77460736354374) (135074, 406.2382131100472) (135075, 404.8600082323238) (135076, 408.0782131669455) (135079, 406.83809083049505) (135080, 405.70348984623735) (135081, 405.8593486661255) (135082, 402.4002120183406) (135085, 405.5350558722268) (135086, 406.1292889945006) (135088, 5.724990666669242) (135104, 537.914943389988) (135106, 405.1113940249934) (135108, 401.76281631122544) (135109, 5.356728259720433)