In [19]:
import pandas as pd
import numpy as np
from array import *
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
df = pd.read_csv('restaurantcustomer.csv')
df.replace('?', np.NaN)
df.drop(columns=['year'],inplace=True)
df.dropna()
label_encoder = preprocessing.LabelEncoder() 
X1=df.drop(columns="people",axis=1)
Y1=df[['people']]

In [20]:
X=X1
Y=Y1
X

      place  day
0         1    1
1         1    2
2         1    3
3         1    4
4         1    5
...     ...  ...
9027      9   18
9028      9   19
9029      9   20
9030      9   21
9031      9   22

[9032 rows x 2 columns]

In [21]:
Y

      people
0       71.8
1       72.0
2       70.3
3       69.7
4       71.3
...      ...
9027    81.1
9028    81.6
9029    80.7
9030    82.3
9031    83.8

[9032 rows x 1 columns]

In [22]:
Y.people.unique()

array([ 71.8,  72. ,  70.3,  69.7,  71.3,  73.9,  72.9,  70.2,  68.4,
        68. ,  69.9,  69.8,  71. ,  73.4,  70.4,  74.9,  74.5,  73. ,
        71.9,  73.3,  71.4,  73.8,  77.5,  76.8,  76.1,  78.3,  78.9,
        74.7,  77.3,  80.2,  83.2,  81. ,  78.8,  77.8,  75.9,  75.7,
        74.1,  75.3,  72.3,  73.1,  76.9,  77.9,  74.6,  76.2,  74.2,
        77.1,  79.6,  78.7,  77. ,  76.5,  76. ,  78. ,  78.1,  81.2,
        79.8,  79.9,  80.7,  77.6,  79.2,  86.5,  85.3,  83.7,  82.1,
        80.8,  78.4, -99. ,  80.6,  80. ,  84.2,  82.9,  81.5,  80.3,
        80.4,  83.3,  86.1,  83.6,  82.8,  80.9,  81.6,  83. ,  84.5,
        86.9,  85.9,  85.6,  85.2,  84.6,  87.1,  89.5,  90.1,  89. ,
        88.6,  87.6,  86.2,  87. ,  88.7,  87.4,  87.5,  88.3,  86.7,
        86.4,  86.3,  86.8,  85.7,  85.5,  86.6,  87.2,  87.9,  88.1,
        88.8,  88.5,  88.9,  88.4,  85.8,  87.7,  86. ,  84.8,  87.3,
        82.3,  82.2,  81.1,  77.7,  82.6,  81.4,  81.7,  83.1,  82.4,
        81.8,  83.5,  83.4,  80.5,  82.7,  81.3,  83.9,  84.4,  83.8,
        78.5,  78.6,  82.5,  81.9,  84.1,  84. ,  84.7,  79. ,  79.4,
        79.7,  79.5,  77.2,  76.3,  76.4,  76.7,  76.6,  74.8,  77.4,
        75.6,  75. ,  73.5,  72.1,  74.3,  74. ,  75.1,  69.1,  70.5,
        74.4,  82. ,  75.8,  75.5,  80.1,  79.3,  84.3,  85.4,  89.3,
        85.1,  84.9,  85. ,  87.8,  88.2,  78.2,  79.1,  72.4,  69.6,
        69. ,  73.7,  75.2,  70.7,  73.2,  72.5,  72.6,  72.8,  75.4,
        88. ,  71.1,  67.7,  73.6,  72.7,  71.5,  90. ,  89.8,  89.9,
        90.2,  90.4,  89.2,  90.5,  90.7,  91.9,  89.1,  72.2,  69.5,
        71.7,  70.6,  71.6,  70.1,  70.9,  68.9,  68.7,  68.3,  70. ,
        66.8,  68.8,  65.8,  66.7,  68.6,  67.1,  66.4,  66.3,  66.2,
        67.2,  70.8,  89.6,  71.2,  89.7,  66.5,  63.4,  64.2,  91.7,
        90.3,  89.4,  91. ,  69.2,  92.6,  91.1,  90.6,  91.4,  90.9])

In [23]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(X1)
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [24]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(Y['people'])
# Remove the labels from the features
# axis 1 refers to the columns
features= X
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [25]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [26]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (6774, 2)
Training Labels Shape: (6774,)
Testing Features Shape: (2258, 2)
Testing Labels Shape: (2258,)

In [27]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [28]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.47 degrees.

In [29]:
errors

array([2.17454274, 1.17299141, 0.74879587, ..., 2.01067871, 0.08473225,
       0.8044574 ])

In [30]:
test_labels

array([81.3, 85.2, 83. , ..., 81. , 84.5, 77.2])

In [31]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors/ test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 98.06 %.

In [32]:
len(test_labels)

2258

In [33]:
len(predictions)

2258

In [34]:
predictions

array([83.47454274, 84.02700859, 82.25120413, ..., 83.01067871,
       84.58473225, 78.0044574 ])

In [35]:
test_features[[0]]

array([[7, 1]], dtype=int64)

In [41]:
monthfix=1
daylist=[18]
for i in range(len(daylist)):
    predictionsof1 = rf.predict([[monthfix,daylist[i]]])
    print(predictionsof1)

[76.03688269]

In [37]:
predictionsof1

array([84.05462412])

In [46]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')